<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="spring-logo--container">
                <a class="spring-logo" href="/"><span></span></a>
            </div>
            <ul class="nav pull-right">
                <li class="navbar-link">
                    <a href="#">Configure GIT Projects</a>
                </li>
                <li class="navbar-link">
                    <a href="#">Configure JIRA</a>
                </li>
            </ul>
        </div>
    </div>
</header>

</html>