<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no" id="Viewport" name="viewport"/>

    <link href="https://fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="http://spring.io/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="http://spring.io/css/blog.css"/>

    <title>GIT and JIRA Management</title>
</head>
<body>
<div class="viewport">
    <header class="navbar header--navbar desktop-only">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="spring-logo--container">
                    <a class="spring-logo" href="/"><span></span></a>
                </div>
                <ul class="nav pull-right">
                    <li class="navbar-link">
                        <a href="#">Configure GIT Projects</a>
                    </li>
                    <li class="navbar-link">
                        <a href="#">Configure JIRA</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="header--container"></div>
    <div class="container-fluid"></div>
    <div class="body--container container-fluid">
        <div class="main-body--wrapper">
            <div class="blog--container">
                <div class="meta-data--container">
                    <article class="blog--post">
                        TO BE DEVELOPED!
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>